
body {
    font-family: Arial;
    margin: 0;
  }


section{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 90%;
    height: 100vh;
    
}

.card-header{
    position: relative;
    margin: -20px 70px;
    background-color:blueviolet;
    width: 120px; 
    height: 40px;
}

.box{
    display:flex;
    flex: 0 0 300px;
    width:300px;
    margin: 15px;
    background-color: gold;
    border-style: dashed;
    border-color: black;
    height: 200px;
}

.codebox {
    display:flex;
    position:absolute;
    bottom: 10px;
    left: 50px;
    background-color: ghostwhite;
    width: auto;
    height: auto;
}

code{
  background-color: blueviolet;
  position: absolute;
  display:flex;
  margin: 100px -250px;
  color: white;
  width: 230px;
  height: 80px;
}

@media screen and (max-width:300px) {
    
}